<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>The World - @ViewBag.Title</title>
    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <div id="sidebar">
        <img src="~/img/user1.jpg" alt="headphoto" class="headshot" />
        <span id="username">Sam Hastings</span>
        <ul class="menu">
            <li class="active"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-controller="Home" asp-action="About">About</a></li>
            <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
        </ul>
    </div>
    <div id="wrapper">
        <div id="main">
            <button id="sidebarToggle" class="btn btn-primary">Hide sidebar</button>

            @RenderBody()
        </div>
        <div id="footer" class="text-primary">
            <p class="text-primary">
                &copy; 2016 The World Ltd.
            </p>
        </div>
    </div>

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
    <script type="text/javascript" src="~/js/site.js"></script>
</body>

</html>